{% extends "@sinatra/block.html.twig" %}

{% block label %}
  {% if label %}
    <h3{{ title_attributes }}>{{ label }}</h3>
  {% endif %}
{% endblock %}

{% block content %}
  <div{{ content_attributes.addClass('content') }}>
    {{ parent() }}
  </div>
{% endblock %}