{% extends "@sinatra/layout/html.html.twig" %}

{% block skip_content %}
  <a href="#main-content" class="sr-only sr-only-focusable">
     {{ 'Skip to main content'|t }}
  </a>
  {{ parent() }}
{% endblock skip_content %}
